* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
}

/* header */

header {
    background-color: rgb(230, 229, 229);
    padding: .5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
    }

    button {
        background-color: transparent;
    }

    img {
        width: 1.5rem;
    }
}

.settings:not(.hide) {
    background-color: rgb(236, 236, 236);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: .3rem;
    width: 90%;
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 2rem;
    box-shadow: .4rem .3rem 5px rgba(0, 0, 0, 0.229);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;   
    height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    background-color: grey;     
    border-radius: 1rem;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;  
  aspect-ratio: 1;
  left: 4px; 
  bottom: 2px;  
  background-color: #2b2b2b;    
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
} 

input:checked + .slider {
  background-color: skyblue;
}

input:focus + .slider {
    outline: 2px solid rgb(46, 46, 46);        
  box-shadow: 0 0 1px skyblue;
}

input:checked + .slider:before {
    background-color: grey;
  -webkit-transform: translateX(40px);   
  -ms-transform: translateX(40px);  
  transform: translateX(26px);      
} 

/* modes */

.mode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    label {
        padding: .3rem 1.5rem;
        border-radius: .3rem;
        background-color: rgb(227, 227, 227);
        cursor: pointer;
    }

    input {
        margin: 0;
        width: 0;
        
        &:focus + label {
            outline: 1px solid red; 
        }
    }

    input:checked + label {
        background-color: skyblue; 
    }
}

/* game section */
.game-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-bottom: 3rem;
}

.container {
    text-align: center;
    background-color: rgb(252, 246, 246);
    padding: 1rem;
    border-radius: .3rem;
    opacity: .5;
    transition: .5s;
}

.deactivated {
    pointer-events: none;
}

.container.player-turn {
    opacity: 1;
}

/*  */

.map {
    width: calc(300px + (0.05rem * 9));        
    height: calc(300px + (0.05rem * 9)); 
    display: flex;
    gap: .05rem;
    flex-wrap: wrap; 
    margin: auto;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: rgb(209, 209, 209);
    border-radius: .1rem;
    cursor: pointer;
}

.cell.empty {
    background-color: aquamarine;
}

.cell.sunk {
    background-color: blueviolet;
}

.completed {
    color: grey;
    text-decoration: line-through;
    text-decoration-color: grey; 
}

.hide {
    display: none; 
}

.ships {
    width: 300px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

#reset,
#play-again {
    display: block;
    margin-inline: auto;
    font-family: inherit;
    border: none;
    padding: .4rem 1.6rem;
}

#game-over:not(.hide) {
    background-color: rgb(226, 226, 226);
    border-radius: .2rem;
    box-shadow: .3rem .4rem 5px rgba(0, 0, 0, 0.229);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    flex-direction: column;
}