header {
    background-color: rgb(230, 229, 229);
    padding: .5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h1 {
        margin: 0;
        font-family: oswald, sans-serif;
        text-transform: uppercase; 
        color: rgb(25, 9, 103);
    }

    button {
        background-color: rgb(245, 245, 245);
        border-radius: 50%;
        aspect-ratio: 1; 
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    img {
        width: 1.3rem;
    }
}


  