.settings:not(.hide) {
    background-color: rgb(236, 236, 236);
    position: absolute;
    top: 95%;    
    right: 1%;  
    padding: 1rem;
    border-radius: .3rem;
    width: 90%;
    max-width: 300px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.229);  
    z-index: 9; 
    font-size: .8rem; 

    div {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    h3 {
        color: rgb(25, 9, 103); 
        font-family: oswald, sans-serif; 
        margin-bottom: 0; 
    }

    a {
      color: lightseagreen;
    }


    #close-settings {
        margin-left: auto; 
        font-weight: bold; 
    }
} 

.switch {
    position: relative;
    display: inline-block;
    width: 50px;   
    height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    background-color: grey;     
    border-radius: 1rem;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;  
  aspect-ratio: 1;
  left: 4px; 
  bottom: 2px;  
  background-color: rgb(25, 9, 103);     
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
} 

input:checked + .slider {
  background-color: skyblue;
}

input:focus + .slider {
    outline: 2px solid rgb(25, 9, 103);        
  box-shadow: 0 0 1px skyblue;
}

input:checked + .slider:before {
    background-color: grey;
  -webkit-transform: translateX(40px);   
  -ms-transform: translateX(40px);  
  transform: translateX(26px);      
} 