@use '_header.scss';
@use '_settings.scss';
@use '_modes.scss';
@use '_game-section.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: montserrat, sans-serif;
} 

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
}

main {
    margin-bottom: 3rem; 
}

